<div class="container">

  <h1 class="title">
    Filmes
  </h1>

  <main>

    <div class="wrap-movie" *ngFor="let movie of movies">
      <div class="poster">
        <img [src]="movie.poster" [alt]="movie.title">
        <div class="synopsis">

          <h2>{{ movie.genres.join(' - ') }}</h2>
          <span>Gêneros</span>

          <h2>Fulano de Tal</h2>
          <span>Diretor</span>

          <p>{{ movie.overview }}</p>

        </div>
      </div>

      <div class="info">
        <h2 class="title-movie">{{ movie.title }}</h2>
        <p>
          {{ movie.year }}
        </p>
<!-- 
        nome,
        ano,
        diretor,
        gênero,
        descrição e pôster -->
      </div>

    </div>

  </main>

</div>